<div
  class="wrapper"
  fxLayout="column"
  fxLayoutGap="2%"
  fxLayoutAlign="center center"
>
  <mat-card class="login-card">
    <mat-card-title> Register </mat-card-title>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-wrapper">
        <div fxLayout="column">
          <div class="container" fxFlex>
            <mat-form-field>
              <mat-label>First Name</mat-label>
              <input
                formControlName="firstName"
                matInput
                placeholder="Enter your First Name"
              />
            </mat-form-field>
            <br>
            <span *ngIf="f['firstName'].touched && f['firstName'].invalid">
              Please enter a valid first name
            </span>

            <mat-form-field>
              <mat-label>Last Name</mat-label>
              <input
              formControlName="lastName"
                matInput
                placeholder="Enter your Last Name"
              />
            </mat-form-field>
            <br>
            <span *ngIf="f['lastName'].touched && f['lastName'].invalid">
              Please enter a valid last name
            </span>

            <mat-form-field>
              <mat-label>Email</mat-label>
              <input
              formControlName="email"
                type="email"
                matInput
                placeholder="Enter your Email"
              />
            </mat-form-field>
            <br>
            <span
              *ngIf="
                emailValidator &&
                emailValidator.invalid &&
                emailValidator.touched
              "
            >
              Please enter a valid email
            </span>

            <div class="form-group">
              <mat-form-field>
                <mat-label>Password</mat-label>
                <input
                  class="form-control"
                  formControlName="password"
                  type="password"
                  matInput
                  placeholder="Enter your Password"
                />
              </mat-form-field>
              <div *ngIf="f['password'].touched && f['password'].invalid">
                <div
                  *ngIf="
                    f['password'].errors && f['password'].errors['required']
                  "
                >
                  Password is required
                </div>
              </div>
            </div>

            <div class="form-froup">
              <mat-form-field>
                <mat-label>Confirm Password</mat-label>
                <input
                  class="form-control"
                  type="password"
                  matInput
                  placeholder="Enter your Password again"
                  formControlName="confirmPassword"
                />
              </mat-form-field>
              <div
                *ngIf="
                  f['confirmPassword'].touched && f['confirmPassword'].invalid
                "
              >
                <div
                  *ngIf="
                    f['confirmPassword'].errors &&
                    f['confirmPassword'].errors['required']
                  "
                >
                  Password is required.
                </div>
                <div
                  *ngIf="
                    f['confirmPassword'].errors &&
                    f['confirmPassword'].errors['ConfirmedValidator']
                  "
                >
                  Password and confirmed password must match.
                </div>
              </div>
            </div>

            <mat-form-field>
              <mat-label>Website</mat-label>
              <input type="url" matInput placeholder="Enter website url" />
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="column">
          <div class="container" fxFlex>
            <mat-form-field>
              <mat-label>College</mat-label>
              <mat-select>
                <mat-option value="a">College A</mat-option>
                <mat-option value="b">College B</mat-option>
                <mat-option value="c">College C</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="container">
            <div class="checkbox-div">
              <h3>Select your strengths</h3>
              <mat-checkbox >Strength A</mat-checkbox>
              <mat-checkbox >Strength B</mat-checkbox>
              <mat-checkbox >Strength C</mat-checkbox>
            </div>

            <div class="checkbox-div">
              <h3>Select gender</h3>
              <mat-radio-group >
                <mat-radio-button value="male">Male</mat-radio-button>
                <mat-radio-button value="female">Female</mat-radio-button>
                <mat-radio-button value="other">Other</mat-radio-button>
              </mat-radio-group>
            </div>

            <div>
              <mat-form-field>
                <mat-label>Choose your DOB</mat-label>
                <input matInput [matDatepicker]="picker"/>
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field>
                <mat-label>Tell us about yourself</mat-label>
                <textarea matInput placeholder="I am..."></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </form>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Register</button>
      <div style="margin-top: 1em">
        <p>
          Already have an account?<a
            routerLink="/"
            routerLinkActive="active"
            style="text-decoration: none; color: #ffa4c9"
          >
            Login!
          </a>
        </p>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
